<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
</head>
<body>
    <div>
        <h1><%= product.name %></h1>
        <p><%= product.description %></p>
        <img src="<%= product.src %>" alt="">
        <p style="font-size: 16px;"><%= product.price %></p>
    </div>
</body>
</html>